<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Department</title>
</head>
<body>

<h2>Create New Department</h2>

<form th:action="@{/department/add}" th:object="${department}" method="post">

    <label for="department_name">Department Name:</label>
    <input type="text" id="department_name" name="department_name" required/>
    <br/><br/>

    <label for="department_head">Department Head:</label>
    <input type="text" id="department_head" name="department_head"/>
    <br/><br/>

    <label for="description">Description:</label>
    <textarea id="description" name="description" ></textarea>
    <br/><br/>

    <button type="submit">Save Department</button>
</form>

</body>
</html>
